@import url("cabecalho.css");
@import url("container.css");
@import url("resultados.css");
@import url("vagas.css");
@import url("rodape.css");

:root {
    --cor-escrita-logo: #3A404E;
    --cor-titulos: #101828;
    --cor-textos: #667085;
    --cor-branco: #fff;
    --cor-vinho: #8E2424;
    --cor-fundo-generico: #8E24240D;
    --cor-borda: #EAECF0;
    --cor-fundo-depoimentos: #C3191908;
    --cor-fundo-rodape: #F9FAFB;

    --fonte-principal: "inter";
}

body {
    color: var(--cor-textos);
    font-family: var(--fonte-principal);
    font-size: 16px;
    height: 100vh;
}