@import url("cabecalho.css");
@import url("secao.css");
@import url("resultados.css");

:root {
    --cor-escrita-logo: #3A404E;
    --cor-titulos: #101828;
    --cor-textos: #667085;
    --cor-branco: #fff;
    --cor-vinho: #8E2424;
    --cor-fundo-generico: #8E24240D;

    --fonte-principal: "inter";
}

body {
    width: 100%;
    height: 100vh;
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--cor-textos);
}