.secao-depoimentos {
    background: var(--cor-fundo-depoimentos);
    gap: 1.5em;
    margin: 5rem 0;
}

.secao__perfil__nome {
    color: var(--cor-titulos);
    font-weight: 500;
}

.secao__perfil__cargo {
    font-size: 14px;
    font-weight: 400;
}

.secao-depoimentos--imagem {
    width: 50px;
}