
/*RODAPE*/

.rodape {
    background: var(--cor-fundo-rodape);
    padding: 2rem;
}

.rodape__contato {
    padding: 1em 0;
}

.rodape__contato__email {
    background: var(--cor-branco);
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 12px 14px 12px 16px;
}

.rodape__contato__botao {
    width: 116px;
    height: 45px;
    font-weight: 500;
    background: var(--cor-vinho);
    color: var(--cor-branco);
    border: 1px solid var(--cor-vinho);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin: 1rem;
}

.rodape__copyright {
    color: var(--cor-copyright);
    line-height: 24px;
}