
/*VAGAS*/

.vagas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.vagas__area {
    margin: 0 auto;
    width: 50%;
}

.vagas__titulo {
    color: var(--cor-titulos);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 1em;
    line-height: 1.5em;
}

.vagas__box {
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 1px solid var(--cor-borda);
    border-radius: 16px;
    font-weight: 500;
    padding: 2em;
    margin: 2em 0;
}

.vagas__subtitulo {
    color: var(--cor-titulos);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
}

.vagas__salario {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

/*RESPONSIVO*/

@media screen and (max-width: 480px) {

    .vagas__area {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {

    .vagas__area {
        width: 70%;
    }
}



